* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-size: 1.5em;
}

b {
    /*font-weight: lighter;*/
}

#map {
    width: 540px;
    margin-right: auto;
    float: left;
    margin-top: 45px;
}

#addUnitMenu {
    z-index: 1;
    width: 100px;
    height: 100px;
    display:none;
}

#addUnitMenu li {
    display: inline;    
}

#battleInfo {
    width: 540px;
    height: 500px;
    overflow: auto;
    margin-right: auto;
    float: left;
}

.cell {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    margin: 5px;
    float: left;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.7;
}

.cell.active {
    border: 1px solid orange;
}

#main {
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

#screen {
    width: 800px;
}

#list {
    width: 160px;
    padding-left: 0px;
    float: left;
    margin-left: 10px;
    border-left: 1.5px solid black;
    list-style-type: none;
    /*display: block;   */
}

#list li {
    font: 20pt Calibri;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 5px;
}

#list li:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition-duration: 0.5s;
}

#string {
    font: 13pt Arial;    
    /*line-height: 1;*/
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#string:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#info {
    width: 540px;
    height: 500px;
    overflow: auto;
    float: left;
    font: 18pt Calibri;
    padding-left: 60px;
    /*margin-top: 20px;*/
}

#menu {
    margin: 0;
    padding: 4px;
    cursor: pointer;
}

#menu li {
    display: inline;
    /*margin-left: 5px;*/
    font: 25pt Calibri;
    padding-left: 5px;
    padding-right: 5px;
}

#menu li:hover {
    color: white;
    background-color: black;
    transition-duration: 0.5s;
}

#start {
    color: red;
    margin-right: 10px;
    margin-left: 10px;
}

#start:hover {
    color: white;
    background-color: red;
    transition-duration: 0.5s;
}
